<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Blog</h2>

            <div class="card w-75">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
            </div>
            <ul class="list-group">
                <ul class="list-group success">
                    <app-posts></app-posts>
                    
                </ul>
                <ul>
                        <button type="button" class="btn btn-success" >j'iame    :)</button>
                        <button type="button" class="btn btn-danger">j'iame pas :(</button>
                </ul>
                
            </ul>
        </div>
    </div>

</div>




<router-outlet></router-outlet>
